@import 'core';

.error-message {
  height: 40vw;
  background: url('/portal-os/img/redirect.jpg') no-repeat round border-box;
  background-size: 100% 112%;
  &__panel {
    @include inner-margin(2vw 2vw 30vw);
    background: linear-gradient(#ffffffcc,#ffffff1a);
    h1 {
      font-size: 6vw;
    }
    span {
      @include outer-top-margin(2vw);
      display: block;
      font-size: 2vw;
    }
  }
}

