#intro {
  overflow: hidden;

  .destaques {
    margin-top: -38px;

    .destaque {
      position: relative;
      border-top: 15px solid $color-orange;
      margin-bottom: 55px;

      a {
        color: #000000;

        &:hover {
          color: $color-orange;
        }

      }

      img {
        width: 100%;
        height: auto;
      }

      .textos {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        p {
          margin: 0px;
        }

        .titulo {
          text-align: center;
          font-size: 50px;
          line-height: 1;

          &:hover {
            color: $color-orange;
          }

        }

        .titulo-2 {
          &:hover {
            color: $color-blue;
          }
        }

        .titulo-3 {
          &:hover {
            color: $color-green;
          }
        }

        .subtitulo {
          text-align: center;
          color: #565656;
          font-size: 22px;
          letter-spacing: -0.045em;
        }

      }

    }

    .destaque-2 {
      border-top: 15px solid $color-blue;

      a {

        &:hover {
          color: $color-blue;
        }

      }

    }

    .destaque-3 {
      border-top: 15px solid $color-green;

      a {

        &:hover {
          color: $color-green;
        }

      }

      .textos {

        .subtitulo {
          margin-top: 5px;
        }

      }

    }

  }

  .barra-preta {
    height: 98px;
    background: #000000;
  }

  h1 {
    font-size: 50px;

    letter-spacing: -0.05em;
    text-align: center;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 20px;
    letter-spacing: -0.05em;

    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #676767;
  }

}


/********************************* Mobile ***********************************/

@media (max-width: $screen-lg-min) {

  #intro {

    .destaques {

      .destaque {

        .textos {

          .titulo {
            font-size: 46px;
          }

          .subtitulo {
            font-size: 20px;
          }

        }

      }

    }

  }

}

@media (max-width: $screen-md-min) {

  #intro {

    .destaques {
      margin-top: 20px;

      .destaque {
        margin: 0px 0px 20px 0px;
        border-top: 0px;

        img {
          height: 190px;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

        .textos {

          .titulo {
            font-size: 40px;
          }

          .subtitulo {
            font-size: 18px;
          }

          .btn-mobile {
            background: $color-orange;
            border-radius: 30px;
            border: 0px;
            text-transform: uppercase;
            color: #ffffff;
            padding: 10px 15px;
          }

          .btn-mobile-2 {
            background: $color-blue;
          }

          .btn-mobile-3 {
            background: $color-green;
          }

        }

      }

      h1 {
        font-size: 35px;
        text-align: left;
        padding-right: 5px;
        padding-left: 5px;
      }

      h2 {
        font-size: 17.5px;
        text-align: left;
        padding-right: 5px;
        padding-left: 5px;
      }

      .intro {
        padding-right: 20px;
        padding-left: 20px;
      }

    }

  }

}
