#teste-gratis {
  background: $color-orange;
  position: relative;
  height: 180px;
  margin-top: $entre-blocos;
  overflow: hidden; //remover para resolver quebra

  .col-md-2 {
    position: absolute;
    bottom: 0px;
  }

  .col-md-10 {
    margin-left: 270px;

    .texto {
      font-size: 30px;
      letter-spacing: -0.05em;
      font-weight: 700;
      margin-top: 30px;
    }

    input {
      width: auto;
      display: inline-flex;
      margin-right: 10px;
    }

  }
}

@media (max-width: $screen-lg-min) {

  #teste-gratis {
    height: 280px;
  }

}

@media (max-width: $screen-md-min) {

  #teste-gratis {
    height: auto;
    margin-top: 40px;

    .col-md-2 {
      position: relative;
    }

    .col-md-10 {
      margin-left: 0px;

      .texto {
        text-align: center;
        font-size: 25px;
        line-height: 1.3;
      }

      input {
        width: 100%;
        margin-top: 20px;
        padding: 12px;
        font-size: 14px;

        &[type="submit"] {

        }
      }

    }
    .imagem-rodape {
      text-align: center;
      margin-bottom: 30px;
      margin-top: 30px;
      img {
        width: auto;
      }
    }
  }
}

@media (max-width: 420px) {
  #teste-gratis {
    .imagem-rodape {
      img {
        width: 100%;
      }
    }
  }
}
