@import "../core";

#teste-auditivo {

    #intro {

        h1 {
            font-size: 50px;
            letter-spacing: -0.05em;
            font-weight: 700;
            text-align: center;
            margin-top: 35px;
            margin-bottom: 0px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 20px;
            letter-spacing: -0.045em;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 0px;
            color: #676767;
        }

        .intro {
            font-size: 20px;
            letter-spacing: -0.015em;
            font-family: $font-family-serif;
            margin-top: -10px;

            strong, b {
                color: $color-orange;
            }

            &::first-letter {
                @include first-letter;
            }

        }

    }

    #teste {
        overflow: hidden; // Fixes para bug de barra de rolagem

        .pergunta {
            background-color: $color-blue;
            color: #ffffff;
            text-align: center;
            padding-top: 33px;
            padding-bottom: 33px;
            font-family: $font-family-sans-serif;
            font-size: 30px;
            letter-spacing: -0.05em;
            font-weight: 600;
            margin-top: $entre-blocos;
        }

        .resposta {
            background-color: $color-blue;
            color: #ffffff;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 12px;
            font-family: $font-family-sans-serif;
            font-size: 30px;
            letter-spacing: -0.05em;
            font-weight: 600;
            margin-top: $entre-blocos;
        }

        .background {
            font-family: $font-family-serif;
            position: relative;

            img {
                width: 100%;
                max-height: 585px;
                object-fit: cover;
                filter: brightness(0.75);
            }

            .bolinhas {
                position: absolute;
                top: 0px;
                width: 100%;
                margin-left: 60%;

                span {
                    color: rgba(255,255,255,0.6);
                    font-size: 100px;
                    line-height: 0.75;
                }

                span.active {
                    color: rgba(255,255,255,1);
                }

            }

            .alternativas {
                position: absolute;
                width: 100%;
                bottom: 0px;

                ul {
                    -webkit-padding-start: 0px;
                    text-align: center;

                    .obs {
                        position: absolute;
                        bottom: 120px;
                        background: rgba(255,255,255,0.7);
                        width: 250px;
                        padding: 10px;
                        margin-left: -18px;
                        line-height: 1.2;
                        border-radius: 20px;

                        .seta {
                            width: 0;
                            height: 0;
                            border-left: 20px solid transparent;
                            border-right: 20px solid transparent;
                            border-top: 15px solid rgba(255,255,255,0.7);
                            position: absolute;
                            bottom: -15px;
                            left: 30px;
                        }

                    }

                    li {
                        list-style: none;
                        background: #ffffff;
                        padding: 9px 20px 7px 20px;
                        margin-bottom: 50px;
                        margin-right: 10px;
                        box-shadow: 0px 0px 10px #000000;
                        border-radius: 30px;
                        display: inline-block;
                        font-size: 16px;
                        height: 40px;

                        label {
                            font-weight: 600;
                        }

                    }

                    .btn-next {
                        background: #00984a;
                        cursor: pointer;
                        font-size: 20px;
                        color: #ffffff;
                        font-weight: 700;
                        padding: 6px 20px;
                        font-family: $font-family-sans-serif;
                    }

                }

                .sucesso {
                    text-align: center;

                    .titulo {
                        color: #ffffff;
                        font-size: 64px;
                        font-weight: 700;
                        letter-spacing: -0.05em;
                        text-transform: uppercase;
                        font-family: $font-family-sans-serif;
                        margin-bottom: 20px;
                        margin-top: 0px;
                        line-height: 1.2;

                        b {
                            color: #fff200;
                        }

                    }

                    .subtitulo {
                        font-family: $font-family-serif;
                        font-size: 20px;
                        color: #ffffff;
                        margin: 10px 0px 0px 0px;
                    }

                    @mixin btn {
                        text-transform: uppercase;
                        color: #ffffff;
                        font-family: $font-family-sans-serif;
                        padding: 20px 20px;
                        margin-bottom: 50px;
                    }

                    .button {
                        display: inline-flex;

                        .btn-consulta {
                            @include btn;
                            background: #00a651;
                            margin-right: 11px;
                        }

                        .btn-teste {
                            @include btn;
                            background: #0072bc;
                            margin-left: 11px;
                            padding: 10px 30px;
                        }

                    }

                }

            }

        }

    }

    #formulario {

        .intro {
            font-size: 20px;
            letter-spacing: -0.015em;
            font-family: $font-family-serif;
            margin-top: -10px;

            strong, b {
                color: $color-orange;
            }

            p {
                margin-top: 50px;
                margin-bottom: 0px;
            }

            img {
                margin-top: 57.5px;
            }

            &::first-letter {
                @include first-letter;
            }

        }

        .form {
            font-family: $font-family-serif;
            margin-top: $entre-blocos;

            h3 {
                text-align: center;
                font-size: 30px;
                letter-spacing: -0.05em;
                font-weight: 700;
                font-family: $font-family-sans-serif;
            }

            .subtitulo {
                text-align: center;
                font-size: 20px;
                margin-bottom: 20px;
                margin-top: 15px;
            }

            img {
                width: 100%;
                object-fit: cover;
                margin-top: 10px;
            }

            label {
                font-size: 14px;
                margin-top: 5px;
            }

            form {

                p {
                    margin: 0px 0px 0px 0px;
                }

            }

            input {
                width: 100%;
                border: 0px;
                background-color: #bfbfbf;
                font-family: $font-family-sans-serif;
                padding: 13px;
                font-size: 14px;
            }

            .btn-submit {
                margin-top: 10px;
                font-size: 14px;
                background: #00a651;
                color: #ffffff;
                padding: 10px 25px;
                text-transform: uppercase;
                border: 0px;
                width: 100%;
                font-family: $font-family-sans-serif;
            }

        }

    }

    /***************************** MOBILE *************************************/

    @media (max-width: $screen-lg-min) {

        #teste {
            .background {
                .alternativas {
                    .sucesso {
                        .titulo {
                            font-size: 34px;
                        }
                    }
                }
            }
        }

    }

    @media (max-width: $screen-md-min) {

        #intro {
            padding-left: 20px;;
            padding-right: 20px;;

            h1 {
                font-size: 35px;
                text-align: left;
                margin-top: 30px;
            }

            h2 {
                text-align: left;
            }

            .intro {
                font-size: 16px;
                margin-top: -10px;

                p {
                    margin-top: 30px;
                }

                &::first-letter {
                    @include first-letter-none;
                }

            }

        }

        #teste {

            .pergunta {
                text-align: left;
                padding-top: 12px;
                padding-bottom: 12px;
                font-size: 25px;
                margin-top: 30px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .resposta {
                margin-top: $entre-blocos-mobile;
            }

            .background {
                font-family: $font-family-serif;
                position: relative;

                img {
                    width: 100%;
                    max-height: 585px;
                    object-fit: cover;
                    filter: brightness(0.75);
                }

                .alternativas {
                    position: relative;
                    width: 100%;
                    bottom: 0px;
                    padding-left: 20px;;
                    padding-right: 20px;;
                    margin-top: 30px;
                    border-bottom: 1px solid #7f7f7f;

                    input {
                        display: none;
                    }

                    label {
                        font-weight: 400;
                        margin: 0px 10px 0px 10px;
                    }

                    ul {
                        text-align: left;

                        .ajuste-right {
                            padding-right: 11px;
                        }

                        .ajuste-left {
                            padding-left: 11px;
                        }

                        li {
                            background: #bfbfbf;
                            padding: 5px 10px;
                            margin-bottom: 15px;
                            margin-right: 10px;
                            border-radius: 30px;
                            display: inline-block;
                            font-size: 16px;
                            height: auto;
                            width: 100%;
                            box-shadow: none;
                        }

                        .active {
                            background: #f15a22;
                            color: #ffffff;
                        }

                        .box-info {
                            min-height: 210px;
                            background: #d9d9d9;
                        }

                        .btn-next {
                            background: #00984a;
                            cursor: pointer;
                            font-size: 18px;
                            color: #ffffff;
                            font-weight: 700;
                            padding: 6px 6px 6px 18px;
                            font-family: $font-family-sans-serif;
                        }

                    }

                    .sucesso {
                        text-align: center;
                        padding-left: 0px;
                        padding-right: 0px;

                        .titulo {
                            font-size: 30px;
                            margin: 10px 0 0;
                            line-height: 1.2;
                        }

                        .subtitulo {
                            font-family: $font-family-serif;
                            font-size: 16px;
                            color: #ffffff;
                            margin-bottom: 20px;
                            text-align: left;
                        }

                        @mixin btn-mb {
                            padding: 15px 10px;
                            margin-bottom: 30px;
                        }

                        .button {
                            display: inline-flex;
                            font-size: 10px;

                            .btn-consulta {
                                @include btn-mb;
                                background: #00a651;
                                margin-right: 11px;
                                padding: 25px 4px;
                                font-size: 12px;
                                font-weight: 700;
                            }

                            .btn-teste {
                                @include btn-mb;
                                background: #0072bc;
                                margin-left: 11px;
                                padding: 15px 15px;
                                font-size: 12px;
                                font-weight: 700;
                            }

                        }

                    }

                }

                .alternativas-sucesso {
                    background: #000000;
                    margin-top: 0px;
                }

            }

        }

        #formulario {

            .intro {
                font-size: 16px;
                margin-top: 0px;
                padding-left: 15px;
                padding-right: 15px;

                strong, b {
                    color: $color-orange;
                }

                p {
                    margin-top: 30px;
                }

                img {
                    margin-top: 57.5px;
                }

                &::first-letter {
                    @include first-letter-none;
                }

            }

            .form {
                font-family: $font-family-serif;
                margin-top: $entre-blocos-mobile;

                h3 {
                    text-align: left;
                    font-size: 25px;
                    padding-left: 15px;
                    padding-right: 15px;
                }

                .subtitulo {
                    text-align: left;
                    font-size: 16px;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-top: 22px;
                }

                .no-padding {
                    padding-left: 0px;
                    padding-right: 0px;
                }

                img {
                    margin-bottom: 30px;
                }

                form {
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-bottom: 8px;
                }

                label {
                    font-size: 14px;
                    margin-top: 5px;
                }

                input {
                    width: 100%;
                    border: 0px;
                    background-color: #d9d9d9;
                    font-family: $font-family-sans-serif;
                    padding: 13px;
                    font-size: 14px;
                }

                .btn-submit {

                }

            }

        }

    }

}
