@import '../core';
@import './variables';
@import './perguntas-frequentes';
@import './audiometria';
@import './credenciamento';
@import './sobre';
@import './agendamento';
@import './como-comprar';
@import './contato';
@import './precos';
@import './teste';
@import '../componentes/vantagens';
@import './novembro-laranja';

/*******************************************************************************
**************************************** GERAL *********************************
*******************************************************************************/

.conteudo {
  @include conteudo;

  img {
    margin-top: 50px;
    width: 95%;
  }
}

.titulo {
  @include titulos;
}

.subtitulo {
  @include subtitulos;
}

@media (max-width: $screen-md-min) {

  .intro {
    @include conteudo-md;
  }

  .intro:first-letter {
    @include first-letter-none;
  }

  .titulo {
    @include titulos-md;
  }

  .subtitulo {
    font-size: 22.5px;
    text-align: left;
    margin-top: 30px;
  }

  .conteudo {
    @include conteudo-md;

    img {
      width: 100%;
    }
  }

}
