@import "../core";
// Blog variáveis
@import "./variables";

@import './menu';

@mixin ajuste-imagem {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

a:hover {
	text-decoration: none;
}

.artigos {
	margin-top: $entre-blocos;
	padding-right: 33px;
}

.categoria-page {
	color: $color-light-black;
	margin: 0px -15px 30px;
	font-weight: 700;
	font-size: 25px;

	span {
		color: $color-black;
	}

}

.artigo {
	border-top: 1px solid $color-gray;
	padding-top: 30px;

	img {
		height: 190px;
		@include ajuste-imagem;
	}

	.espaco-util {
		min-height: 190px;
	}

	h2 {
		font-weight: 700;
		font-size: 28px;
		color: $color-blue;
		letter-spacing: -0.06em;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	h3 {
		font-family: $font-family-serif;
		color: $color-gray;
		font-size: 16px;
		letter-spacing: 0em;
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.icons-social {
		margin-top: 13px;
		bottom: 0px;
		position: absolute;
		display: block;

		span {
			float: left;

			img {
				height: 31px;
				width: auto;
				margin-right: 25px;
				object-fit: none;
			}

		}

	}

	.categoria-tempo {
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 5px;
	}

}

.artigo:after {
	margin-bottom: 30px;
}

.artigo:first-child {
	border-top: 0px;
	padding-top: 0px;
}

.data-passada {
	color: $color-gray;
}

.clear-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.btn-mais {
	height: 46px;
	background-color: $color-orange;
	color: $color-white;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 12px 0px;
	font-weight: 700;
}

.btn-mais:hover {
	background-color: #cf3800;
	color: #ffffff;
}

.artigo-cabecalho {
	margin-top: $entre-blocos;
	text-align: center;

	h1 {
		font-size: 50px;
		letter-spacing:  -0.072em;
		font-weight: 700;
	}

	h2 {
		font-size: 25px;
		margin-top: 20px;

		font-family: $font-family-serif;
	}

	.icons-social {
		margin-top: 20px;

		img {
			margin-left: 10px;
			margin-right: 10px;
		}

	}

	.data {
		margin: 30px 0px;
		font-size: 12px;
		font-family: Arial, $font-family-sans-serif;
		text-indent: 255px;
		text-align: left;
	}

}

.imagem-principal {
	text-align: center;
	display: block;

	img {
		width: 100%;
		max-height: 640px;
		object-fit: cover;
		object-position: center;
	}

}

/******************************** Conteúdo do Artigo **************************/

.artigo-conteudo {
	font-family: $font-family-serif !important;
	margin-top: 40px !important;
	font-size: 20px !important;
	height: 500px;
	overflow: hidden;

	h3, h4, h5, h6 {
		font-size: 24px !important;
		font-weight: 600 !important;
	}

	b, strong {
		color: $color-blue !important;
	}

	img {
		max-width: 100% !important;
	}

	iframe {
		max-width: 100% !important;
	}

	ol, ul {
    	-webkit-padding-start: 20px !important;
	}

	a {
		color: $color-blue !important;

		&:hover {
			text-decoration: underline !important;
		}

	}

}

.artigo-conteudo:first-letter {
	@include first-letter;
	color: $color-blue;
}

.categorias {
	margin-top: 40px;
	padding-bottom: 29px;
	border-bottom: 1px solid #dddddd;

	a {
		background-color: #dddddd;
		font-size: 11px;
		height: 30px;
		padding: 9px 15px;
		color: #717171;
		text-transform: uppercase;
	}

}

.icons-social-footer {
	margin-top: 21px;

	a {
		margin-right: 28px;
	}

}

.comentarios {
	margin-top: 13px;
	padding-bottom: 17px;
	border-bottom: 2px solid $color-black;
}

.mais-artigos {
	padding-top: $entre-blocos;

	h4 {
		text-transform: uppercase;
		font-size: 23px;
		font-family: Arial, $font-family-sans-serif;
	}

	.artigos {
		margin-top: 28px;
		margin-bottom: 0px;
		margin-left: 0px;

		.artigo {
			margin-left: auto;
		}

		.artigo:last-child {
			border-bottom: 0px;
		}
	}

}

.destaque {
	margin-top: 34px;

	img {
		height: 525px;
		@include ajuste-imagem;
		-webkit-filter: brightness(0.75);
		-moz-filter: brightness(0.75);
		-ms-filter: brightness(0.75);
		-o-filter: brightness(0.75);
		filter: brightness(0.75);
	}

	.categoria {
		position: absolute;
		margin-left: 26px;
		margin-top: 29px;
		top: 0px;
		border-bottom: 6px solid $color-blue;
		text-transform: uppercase;

		a {
			color: #f5f5f5;
			font-size: 12px;
		}

	}

	.titulo {
		font-size: 40px;
		letter-spacing: -0.06em;
		font-family: $font-family-sans-serif;
		font-weight: 700;
		bottom: 0px;
		position: absolute;
		margin-bottom: 40px;
		margin-left: 28px;
		margin-right: 28px;

		a {
			color: #ffffff;
		}

	}

}

.destaque:first-child {
	padding-left: 0px;
	padding-right: 5px;
}

.destaque:last-child {
	padding-left: 5px;
}

#esconde-texto {
	background-color: #ffffff;

	#btn-view-more {
		box-shadow: 0px -10px 20px #ffffff;
	}

}

@import './app_mobile';

@import './aside';
