aside {
	margin-top: 60px;

	.topfive {
		margin-bottom: 30px;

		table {
			margin: 0 auto;
			width: 100%;

			.numero {
				font-size: 44px;
				font-family: $font-family-sans-serif;
				font-weight: 700;
				color: $color-orange;
			}

			th {
				@include aside-header-block;
				font-size: 14px;
			}

			tr {
				border-bottom: 1px solid $color-light-gray;
				height: 99px;
			}

			tr:first-child {
				height: 42px;
				border-bottom: 0px;
			}

			tr:last-child {
				border-bottom: 0px solid $color-light-gray;
				height: 100px;
			}

			td {
				font-family: $font-family-serif;
				font-size: 16px;
				color: $color-dark-gray;
				background-color: $color-light-blue;
				vertical-align: middle;

				a {
					color: $color-dark-gray;
				}

				a:hover {
					color: $color-black;
				}

			}

			td:first-child {
				padding-left: 25px;
				padding-right: 10px;
			}

			td:last-child {
				padding-left: 10px;
				padding-right: 25px;
			}

		}

	}

	.janela-social {
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
	}

}

.sidebar-box {
	margin-bottom: 30px;
	header {
		text-transform: uppercase;
		background-color: $color-blue-sd;
		color: $color-white;
		text-align: center;
		font-family: Arial, $font-family-serif;
		h3 {
			font-size: 14px;
    		padding: 14px 0px;
    		font-weight: 700;
		}
	}
	article,
	.body {
		background-color: $color-light-blue-sd;
		padding: 20px;
		font-family: $font-family-serif;
		font-size: 14px;
		line-height: 1.8;
		color: $color-black-rd;
		.description {
			margin: 0 0 10px;
		}
		.button,
		.text-field {
			font-family: $font-family-sans-serif;
		}
	}
}

@media (max-width: $screen-md-min) {
	.sidebar-box {
		margin-bottom: 20px;
	}
}
