.navbar-geral {
	background-color: $navbar-geral-color;
	border-bottom: 4px solid $navbar-border-color;
	.navbar-do {
		.menu {
			li > a {
				&:hover {
					background: $color-hover;
				}
			}
			li.active {
				background: $color-hover;
			}
			.sub-menu {
				border: 1px solid $color-hover;
				li > a {
					&:hover {
						color: $navbar-geral-color;
					}
				}
				li.active > a{
					border-bottom: 1px solid $color-hover;
					&:hover {
						color: $navbar-geral-color;
					}
				}
			}
		}
	}
}

/******************************** Mobile **************************************/

@media (max-width: $screen-md-min) {

	.navbar-geral {
		.navbar-do {
			.menu {
				background: $navbar-geral-color;
			}
		}
	}
}
