@import "../core";

#intro {

    h1 {
        font-size: 50px;

        letter-spacing: -0.05em;
        font-weight: 700;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 0px;
        text-transform: uppercase;
    }

    h2 {
        font-size: 20px;

        letter-spacing: -0.045em;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 0px;
        color: #676767;
    }

    .intro {
        font-size: 20px;

        letter-spacing: -0.015em;
        font-family: $font-family-serif;
        margin-top: -10px;

        strong, b {
            color: $color-orange;
        }

        p {
            margin-top: 30px;
            margin-bottom: 0px;
        }

    }

    .intro:first-letter {
        @include first-letter;
    }

}

#depoimento {
    margin-top: $entre-blocos;
    margin-bottom: $entre-blocos;
    background: url('https://s3-sa-east-1.amazonaws.com/sitedo/img/depoimentos/depoimento.jpg');
    background-position: center;
    background-size: cover;

    .formulario {
        background: rgba(255,255,255,1);
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 35px;

        .subtitulo {
            font-size: 30px;
            letter-spacing: -0.05em;
            font-weight: 700;
            padding: 0px 60px;
            text-transform: none;
            margin: 0px;
        }

        .conteudo {
            margin: 20px 0px;
        }

        form {

            p {
                margin: 0px 0px 0px 0px;
            }

        }

        label {
            font-size: 14px;
            font-family: $font-family-serif;
            margin-top: 4px;
        }

        input,
        textarea {
            display: block;
            border: none;
            height: 46px;
            width: 100%;
            background: #d9d9d9;
            padding: 10px;
            margin-top: 15px;
        }

        textarea {
            height: 105px;
        }

        .btn-submit {
            background: #00a651;
            color: #ffffff;
            text-transform: uppercase;
        }

    }

}

.depoimento {
    margin-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid #7f7f7f;
}

.titulo {
    font-size: 30px;
    letter-spacing: -0.05em;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1;
}

.subtitulo {
    color: #969696;
    font-size: 25px;
    letter-spacing: -0.045em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 1;
}

.inverso {

    .col-md-8 {
        float: right;
    }

    .col-md-4 {
        float: left;
    }

}

.conteudo {
    font-family: $font-family-serif;
    font-size: 20px;
    line-height: 1.5;

    p {
        margin-top: $entre-paragrafos;
    }

    p:first-child {
        margin-top: 0px;
    }

}

.conteudo-foto {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 315px;

    .mask {
        width: 100%;
        height: 70px;
        background: #ffffff;
        filter: blur(2px) opacity(0.95);
        -moz-filter: blur(2px) opacity(0.9);
        -webkit-filter: blur(2px) opacity(0.9);
        position: absolute;
        bottom: 0px;
        margin: -10px;
    }

    span {
        position: absolute;
        bottom: 0px;
        margin: 0 auto;
        left: 56%;

        img {
            width: auto;
        }

    }

}

.foto {

    img {
        width: 100%;
        height: auto;
        margin-top: 7px;
    }

}

.video {
    width: 100%;
    height: 450px;
    margin-top: 30px;
}

#view-more,
#second-view-more {
    display: block;
    border: none;
    height: 46px;
    width: 100%;
    background: #d9d9d9;
    padding: 10px;
    background: #00a651;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 19px;
}

#second-view-more {
    margin-bottom: 50px;
}

.foto-profile {
    display: block;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 25px;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

}

.nome {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: left;
}

.local {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.no-destaque {
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#second-body {
    overflow: hidden;
}

/******************************** Mobile **************************************/

@media (max-width: $screen-md-min) {

    #intro {
        padding-left: 20px;
        padding-right: 20px;

        h1 {
            font-size: 30px;

            text-align: left;
        }

        h2 {
            font-size: 17.5px;

            margin-top: 20px;
            text-align: left;
        }

        .intro {
            font-size: 17.5px;

        }

        .intro:first-letter {
            @include first-letter-none;
        }

    }

    #depoimento {
        margin-top: $entre-blocos-mobile;
        margin-bottom: $entre-blocos-mobile;
        background: url('https://s3-sa-east-1.amazonaws.com/sitedo/img/depoimentos/depoimento.jpg');
        background-position: center;
        background-size: cover;

        .formulario {
            background: none;
            margin-bottom: 30px;
            margin-top: 30px;
            padding: 0px 20px 30px 20px;
            color: #ffffff;

            .subtitulo {
                font-size: 24px;

                font-weight: 700;
                padding: 0px 0px;
                margin: 0px;
                color: #ffffff;
            }

            .conteudo {
                margin: 20px 0px;
                padding-left: 0px;
                padding-right: 0px;
            }

            label {
                font-size: 14px;
                font-family: $font-family-serif;
                margin-top: 4px;
            }

            input,
            textarea {
                display: block;
                border: none;
                height: 46px;
                width: 100%;
                background: #ffffff;
                padding: 10px;
                margin-top: 15px;
                color: #a3a3a3;
            }

            textarea {
                height: 105px;
            }

            .btn-submit {
                background: #00a651;
                color: #ffffff;
                text-transform: uppercase;
            }

        }

    }

    .depoimento {
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .titulo {
        font-size: 25px;
        text-align: left;
        padding-left: 20px;;
        padding-right: 20px;;
    }

    .subtitulo {
        font-size: 18px;
        text-align: left;
        margin-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .inverso {

        .col-md-8 {
            float: none;
        }

        .col-md-4 {
            float: none;
        }

    }

    .conteudo {
        font-family: $font-family-serif;
        font-size: 17.5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;

        p {
            margin-top: $entre-paragrafos-mobile;

            &:first-child {
                margin-top: $entre-paragrafos-mobile;
            }

        }

    }

    .foto {
        padding-left: 20px;
        padding-right: 20px;
        display: block;

        img {
            width: 100%;
            height: auto;
            margin-top: 30px;
        }

    }

    .video {
        width: 100%;
        height: 250px;
        margin-top: 30px;
    }

    .btn-read-more {
        background-color: #f15a22;
        color: #ffffff;
        text-transform: uppercase;
        position: absolute;
        bottom: 15px;
        left: 50%;
        margin-left: -117.5px;
        padding: 10px 15px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 600;
        font-family: Arial, $font-family-sans-serif;

        &:active,
        &:hover {
            color: #ffffff;
        }

    }

    .btn-read-more-2 {
        background-color: #f15a22;
        color: #ffffff;
        text-transform: uppercase;
        padding: 10px 15px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 600;
        font-family: Arial, $font-family-sans-serif;
        margin-bottom: 30px;

        &:active,
        &:hover {
            color: #ffffff;
        }

    }

    .conteudo-mobile {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 30px;
    }

    .conteudo-mobile-2 {
        margin-top: 30px;
    }

    #view-more,
    #second-view-more {
        display: block;
        border: none;
        height: 46px;
        width: 100%;
        background: #d9d9d9;
        padding: 10px;
        background: #00a651;
        color: #ffffff;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        font-size: 19px;
    }

    #second-view-more {
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .no-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .foto-profile {
        display: block;
        text-align: right;
        margin-top: 30px;
        margin-bottom: 25px;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }

    }

    .nome {
        margin-top: 30px;
        margin-bottom: 0px;
        text-align: left;
    }

    .local {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
    }

    .no-destaque {
        margin-bottom: 30px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
        border-bottom: 1px solid #a6a6a6;
    }

}
