@import "../core";

.titulo {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-top: $entre-blocos;
    text-align: center;
    text-transform: uppercase;
}

.subtitulo {
    font-size: 20px;
    color: #7f7f7f;
    letter-spacing: -0.045em;
    text-align: center;
}

.conteudo {
    font-family: $font-family-serif;
    font-size: 20px;

    margin-top: 35px;

    b,
    strong {
        color: $color-orange;
    }

}

.conteudo:first-letter {
	color: $color-orange;
	font-size: 55px;
	float: left;

	letter-spacing: 10px;
}

.botao {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;

    .btn-teste {
        background-color: #00a651;
        color: #ffffff;
        font-size: 18px;
        letter-spacing: -0.03em;
        padding: 20px 100px;
        text-transform: uppercase;
        display: inline-block;
    }

    .btn-teste:hover,
    .btn-teste:active {
        background-color: #008541;
        color: #ffffff;
        text-decoration: none;
    }

}

/******************************************************************************
*                          FRAQUIAS
******************************************************************************/
.franquias {
    margin-bottom: 92px;

    p {
        margin: 0px;
    }

    .titulo-franquia {
        font-size: 30px;
        font-weight: 700;

        letter-spacing: -0.05em;
        margin-top: 30px;
        text-align: center;
    }

    .destaque {
        display: block;
        margin-top: 30px;
        overflow: hidden;

        img {
            filter: brightness(0.5);
            -moz-filter: brightness(0.5);
            -ms-filter: brightness(0.5);
            -webkit-filter: brightness(0.5);
            height: 355px;
            object-fit: cover;
            object-position: center;
            width: 100%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .cidade-uf {
            bottom: 0px;
            color: #ffffff;
            margin-bottom: 25px;
            padding-left: 20px;;
            position: absolute;
            text-align: center;
            width: 100%;

            .cidade {
                font-size: 71px;
                font-weight: 300;

            }

            .estado {
                font-size: 22px;

                letter-spacing: -0.045em;
            }

        }

    }

    .destaque:hover {

        img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

    }

    .franquia {
        display: block;
        margin-top: 35px;
        overflow: hidden;

        img {
            filter: brightness(0.5);
            -moz-filter: brightness(0.5);
            -ms-filter: brightness(0.5);
            -webkit-filter: brightness(0.5);
            height: 355px;
            object-fit: cover;
            object-position: center;
            width: 100%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .cidade-uf {
            bottom: 0px;
            color: #ffffff;
            padding-right: 20px;;
            position: absolute;
            text-align: center;
            width: 100%;

            .cidade {
                font-size: 60px;
                font-weight: 300;

            }

            .estado {
                font-size: 22px;

                letter-spacing: -0.045em;
                margin-bottom: 25px;
            }

        }

    }

    .franquia:hover {

        img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

    }

}

/*******************************************************************************
* Mapa de Clinicas
*******************************************************************************/

#mapa {
    width: 100%;
    height: 525px;
}

.remove_scroll {
    pointer-events: none;
}

.select-fonos {
    background-color: $color-blue;
    border: none;
    color: #ffffff;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 10px;
    padding: 17px 35px;
    text-transform: uppercase;
}

#cidade {
    font-size: 28px;
    letter-spacing: -0.03em;
    margin-left: 30px;
    text-transform: uppercase;
}

#clinicas {
    background-color: #e8d1c9;

    #locais {
        margin-bottom: 45px;

        .local-fono {
            background-color: #f6e1d9;
            margin-top: 45px;
            min-height: 328px;
            padding: 30px 40px;

            p {
                line-height: 1.4;
            }

            .cidade {
                font-size: 30px;
                font-weight: 700;
                margin-top: 0px;
                letter-spacing: -0.05em;
            }

            .fono {
                font-family: $font-family-serif;
                font-size: 15px;
                font-weight: 600;
                margin-top: 10px;
            }

            .nome-fono {
                font-family: $font-family-serif;
                font-size: 30px;
                margin-top: 5px;
            }

            .endereco {
                font-family: $font-family-serif;
                font-size: 15px;
                font-weight: 600;
                margin-top: 10px;
            }

            .endereco-fono {
                font-family: $font-family-serif;
                font-size: 20px;
                margin-top: 5px;
            }

        }

        #local-fono {
            .local-fono:first-child {
                margin-right: 45px;
            }
        }

        .col-md-6 {
            width: 47%;
        }

    }

}

.franquias-detalhes {
    background-color: #e8d1c9;
    padding: 40px 0px;

    .franquia {
        background-color: #f6e1d9;

        img {
            width: 100%;
            height: auto;
        }

        .col-md-7 {
            padding-left: 0px;
        }

        .col-md-5 {
            padding-right: 37px;
        }

        .cidade-titulo {
            color: $color-blue;
            font-size: 30px;
            font-weight: 700;

            letter-spacing: -0.05em;
            text-transform: uppercase;
            margin-top: 40px;
        }

        .cidade {
            color: $color-blue;
            font-size: 30px;
            font-weight: 700;

            letter-spacing: -0.05em;
        }

        .endereco-titulo {
            font-family: $font-family-serif;
            font-size: 15px;
            font-weight: 700;

        }

        .endereco {
            font-family: $font-family-serif;
            font-size: 20px;

        }

        .horario-titulo {
            font-family: $font-family-serif;
            font-size: 15px;
            font-weight: 700;

        }

        .horario {
            font-family: $font-family-serif;
            font-size: 20px;

        }

        .telefone-titulo {
            font-family: $font-family-serif;
            font-size: 15px;
            font-weight: 700;

        }

        .telefone {
            font-family: $font-family-serif;
            font-size: 20px;

            margin-bottom: 25px;
        }

        .btn-chegar {
            font-size: 18px;

            letter-spacing: -0.03em;
            color: #ffffff;
            background-color: #00a651;
            padding: 20px 0px;
            margin-bottom: 40px;
            text-transform: uppercase;
            border-radius: 0px;
        }

        .btn-chegar:hover {
            color: #ffffff;
            text-decoration: none;
            background-color: #008541;
        }

    }

}

/****************************** Mobile ****************************************/
/******************************* MD *******************************************/

@media (max-width: $screen-md-min) {

    .titulo {
        font-size: 40px;

        text-align: left;
        margin-top: $entre-blocos-mobile;
    }

    .subtitulo {
        text-align: left;
        margin-bottom: 34px;
    }

    .conteudo {
        font-size: 18px;
    }

    .conteudo:first-letter {
    	color: #000000;
    	font-size: 18px;
    	float: left;

    	letter-spacing: 0;
    }

    .botao {

        .btn-teste {
            font-size: 14px;
            padding: 20px 20px;
            display: block;
        }

    }

    .franquias {

        .titulo-franquia {
            text-align: left;
            font-size: 25px;

        }

        .destaque {
            margin-left: -30px;
            margin-right: -30px;

            img {
                height: auto;
            }

            .cidade-uf {
                bottom: 105px;
            }

        }

        .franquia {

            img {
                height: auto;
            }

            .cidade-uf {
                bottom: 105px;
            }

        }

        .franquia{

            .cidade-uf {
                bottom: 70px;

                .cidade {
                    font-size: 30px;
                }

                .estado {
                    font-size: 18px;
                }

            }

        }

        p.call-to-action {
            bottom: 35px;
            position: absolute;
            text-align: center;
            width: 100%;
        }

        .btn-call-to-action {
            background-color: $color-orange;
            font-size: 20px;

            letter-spacing: -0.05em;
            font-family: Arial;
            text-transform: uppercase;
            padding: 14px 14px;
            border-radius: 50px;
            color: #ffffff;
            text-align: center;
            margin-right: 30px;
        }

        .btn-call-to-action:hover {
            color: #ffffff;
            text-transform: none;
        }

        .destaque {

            .cidade-uf {
                bottom: 52.5px;

                .cidade {
                    font-size: 35.5px;
                }

                .estado {
                    font-size: 18px;
                }

            }

        }

    }

    #mapa {
        height: 350px;
        margin-top: 30px;
    }

    .select-fonos {
        display: block;
        margin-bottom: 20px;
        margin-top: 0px;
        width: 100%;
    }

    #cidade {
        margin-left: 0px;
    }

    #clinicas {

        #locais {

            .col-md-6 {
                width: 100%;
            }

        }

    }

    .franquias-detalhes {

        .franquia {

            .col-md-7 {
                padding-right: 0px;
            }

            .col-md-5 {
                padding-left: 37px;
            }

        }

    }

    .margin-mobile {
        margin-left: 5px;
        margin-right: 5px;
    }

    .clear-padding {
        padding-left: 0px;
        padding-right: 0px;
    }

}
