.environment {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: $color-red;
    padding: 5px 50px;
    font-size: 14px;

    span {
        color: #ffffff;
        text-transform: uppercase;
    }

}

@media (max-width: $screen-md-min) {

    .environment {
        position: fixed;
        bottom: 0px;
        left: 0px;
        background: $color-red;
        padding: 5px 5px;
        font-size: 12px;
        width: 100%;

        span {
            color: #ffffff;
            text-transform: uppercase;
        }

    }

}
