#popup_whatsapp {
    background: url('https://s3-sa-east-1.amazonaws.com/sitedo/img/componentes/bg-whatsapp.jpg');
    height: 280px;
    width: 270px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    padding: 25px 20px;

    .form-close {
        text-transform: uppercase;
        position: absolute;
        right: 5px;
        top: 5px;
        color: #ffffff;
        font-size: 10px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .chamada {

        img {
            float: left;
            margin-bottom: 10px;
            width: auto;
            height: auto;
        }

        span {
            color: #ffffff;
            font-size: 20px;
            float: right;
            display: grid;
            line-height: 1;

            b {
                font-size: 31px;
            }

        }

    }

    .formulario {
        margin-top: 5px;

        input,
        button {
            width: 100%;
            height: 45px;
            margin-top: 15px;
            padding: 5px;
        }

        input[type="submit"],
        button {
            text-transform: uppercase;
            background: $color-green;
            color: #ffffff;
            border: 0px;

            &:hover {
                background: $color-hover-green;
            }

        }

    }

}
