@mixin acessorio {
	margin-top: $entre-blocos;

	h4 {
		font-size: 50px;
		letter-spacing: -0.05em;
		text-align: center;
		text-transform: uppercase;
	}

	img {
		max-height: 479px;
		object-fit: cover;
		object-position: center;
	}

	.conteudo {
		margin-top: 60px;
		font-size: 20px;
		letter-spacing: -0.015em;
		font-family: $font-family-serif;
	}

}

@mixin acessorio-mb {
	margin-top: $entre-blocos-mobile;

	h4 {
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 25px;
		letter-spacing: -0.05em;
	}

	.col-md-5 {
		padding-right: 20px;
		padding-left: 20px;
	}

	img {
		max-height: 388px;
		margin-top: 30px;
	}

	.conteudo {
		margin-top: 30px;
		padding-bottom: 35px;
		border-bottom: 1px solid #bfbfbf;
		font-size: 17.5px;
	}

	.conteudo-last-child {
		padding-bottom: 0px;
		border-bottom: 0px solid #bfbfbf;
	}

}

#acessorios {
	margin-top: $entre-blocos;

	h3 {
		@include titulo-section;
	}

	.fotos {
		display: inline-block;
		text-align: center;
		vertical-align: bottom;
		margin: $entre-blocos 45px 0px 45px;

		img {
			max-height: 280px;
		}

	}

	.acessorio {
		@include acessorio;

		.col-md-5 {
			padding-right: 50px;
		}
	}

	.acessorio-1 {
		@include acessorio;

		.col-md-5 {
			float: right;
			padding-left: 50px;
		}

		.col-md-7 {
			float: left;
		}

	}

}

@media (max-width: $screen-md-min) {

	#acessorios {
		margin-top: $entre-blocos-mobile;

		h3 {
			@include titulo-section-md;
		}

		.fotos {
			margin: 35px 15px 50px 15px;

			img {
				max-height: 200px;
			}

		}

		.acessorio {
			@include acessorio-mb;
		}

		.acessorio-1 {
			@include acessorio-mb;
		}

	}

}

@media (max-width: $screen-sm-min) {

	#acessorios {

		.fotos {
			margin: 30px 7.5px 30px 7.5px;

			img {
				max-height: 110px;
			}

		}

	}

}

@media (max-width: $screen-xs-min) {

	#acessorios {

		.fotos {
			margin: 30px 5px 30px 5px;

			img {
				max-height: 75px;
			}

		}

	}

}
