#apresentacao {
	padding-top: $entre-blocos;
	text-align: center;

	picture {

		img {
			max-width: 550px;
			max-height: 650px;
		}

	}

	h1 {
		@include clear-height;
		font-family: $font-family-sans-serif;
		font-size: 100px;
		letter-spacing: -0.05em;
		color: $color-orange;
		margin-top: 190px;
	}

	h2 {
		@include clear-height;
		font-family: $font-family-sans-serif;
		font-size: 35px;
		letter-spacing: -0.05em;
		font-weight: 700;
		margin-top: 45px;
		text-transform: uppercase;
	}

	h3 {
		@include clear-height;
		font-size: 20px;
		letter-spacing: -0.045em;
		color: #676767;
	}

	p {
		margin-top: 40px;
	}

}

.navigator {
	list-style: none;
	margin-top: $entre-blocos;
	border-bottom: 1px solid #7f7f7f;
	-webkit-padding-start: 0px;
	margin-bottom: 0px;

	li {
		display: inline-block;
		font-size: 20px;

		text-transform: uppercase;
		font-family: Arial, $font-family-sans-serif;
		font-weight: 600;
		margin: 0px 15px;

		a {
			color: #b0b0b0;
		}

		a:hover,
		a:active,
		a:focus,
		a:link {
			text-decoration: none;
		}

	}

	li:first-child {
		margin-left: 0px;
	}

	li:last-child {
		margin-right: 0px;
	}

	.borda {
		border-bottom: 5px solid $color-orange;
	}

}

/******************************** mobile **************************************/

@media (max-width: $screen-md-min) {

	#apresentacao {
		padding-top: $entre-blocos-mobile;
		@include padding-mobile;

		.nome-mb {
			@include clear-height;
			font-family: $font-family-sans-serif;
			letter-spacing: -0.05em;
			color: $color-orange;
			margin-top: 0px;
			font-size: 40px;
		}

		.titulo-mb {
			@include clear-height;
			font-family: $font-family-sans-serif;
			letter-spacing: -0.05em;
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 5px;
			font-size: 24px;
		}

		.subtitulo-mb {
			@include clear-height;
			letter-spacing: -0.045em;
			color: #676767;
			font-size: 18px;
			margin-top: 10px;
		}

		picture img {
			margin-top: $entre-blocos-mobile;
			max-height: 565px;
		}

		p {
			margin-top: 20px;
		}

	}

	.navigator {
		margin-top: 40px;
	}

}
