.fundo-detalhes {
	padding-left: 0px;
	padding-right: 0px;
	margin-top: $entre-blocos;
	position: relative;

	.secoes {
		position: absolute;
		top: 0px;
		width: 100%;
		margin-top: 100px;

		picture {
			height: 235px;
			display: block;
		}

		p {
			color: #ffffff;
			font-family: $font-family-serif;
			font-size: 17.5px;
			margin-top: 30px;
		}

	}

}
