#introducao {
	margin-top: $entre-blocos;

	h3 {
		@include titulo-section;
	}

	.subtitulo {
		font-size: 35px;
		line-height: 1.2;
		letter-spacing: -0.045em;
		color: #404040;
		text-align: center;
		margin-top: 10px;
	}

	.conteudo {
		margin-top: 3px;
		font-family: $font-family-serif;
		font-size: 20px;

		p {
			margin-top: $entre-paragrafos;
		}

		b, strong {
			color: $color-orange;
		}

	}

	.conteudo:first-letter {
		@include first-letter;
	}

}

/*************************** mobile *******************************************/

@media (max-width: $screen-md-min) {

    #introducao {
		margin-top: $entre-blocos-mobile;
		@include padding-mobile;

		h3 {
			@include titulo-section-md;
		}

		.subtitulo {
			font-size: 24px;

			margin-top: 5px;
			text-align: left;
		}

		.conteudo {
			letter-spacing: -0.05em;

			p {
				margin-top: $entre-paragrafos-mobile;

				&:first-child {
					margin-top: $entre-blocos-mobile;
				}

			}

		}

		.conteudo:first-letter {
			color: #000000;
			font-size: 20px;
			float: none;

			letter-spacing: -0.05px;
		}

	}

}
