/*******************************************************************************
********************************** BANNER **************************************
*******************************************************************************/

.banners {

	.banner {

		.imagem {
			position: relative;

			img {
				filter: brightness(0.85);
				-moz-filter: brightness(0.85);
				-ms-filter: brightness(0.85);
				-o-filter: brightness(0.85);
				-webkit-filter: brightness(0.85);
				object-fit: cover;
				object-position: center;
				max-height: 665px;
				width: 100%;
			}

		}

		.conteudo {
			position: absolute;
			text-align: center;
			width: 100%;
			bottom: 0px;
			font-family: $font-family-sans-serif;

			.titulo {
				font-size: 74px;
				line-height: 1.2;
				letter-spacing: -0.05em;
				font-weight: 700;
				color: #ffffff;
				display: block;
				text-transform: uppercase;
				margin-bottom: 0px;
			}

			.subtitulo {
				font-size: 42px;
				line-height: 1.2;
				letter-spacing: -0.045em;
				font-weight: 400;
				color: #ffffff;
				display: block;
				margin-top: 10px;
				margin-bottom: 0px;
			}

			.btn-banner {
				text-align: center;
				display: inline-block;
				margin-bottom: 102px;
				margin-top: 38px;

				a {
					background: #f15a22;
					padding: 15px;
					font-size: 18px;
					line-height: 1.2;
					letter-spacing: -0.03em;
					text-transform: uppercase;
				}

				a:hover {
					text-decoration: none;
					background: #da5c2d;
				}

			}

			.fix-banner {
				margin-bottom: 102px;
				display: block;
				content: ' ';
			}

		}

		a {
			color: #ffffff;
			text-decoration: none;
		}

		a:hover {
			color: $color-hover-white;
			text-decoration: none;
		}

	}

}

.banner-chevron {
	display: flex;
	-webkit-display: flex;
	-moz-display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/*********************************** MD ***************************************/

@media (max-width: $screen-md-min) {

	.banners {
		background-color: #000000;

		.banner {

			.imagem {

				img {
					filter: brightness(1);
					-moz-filter: brightness(1);
					-ms-filter: brightness(1);
					-o-filter: brightness(1);
					-webkit-filter: brightness(1);
					max-height: 250px;
				}

			}

			.conteudo {
				position: relative;

				.titulo {
					font-size: 30px;
					letter-spacing: -0.05em;
					font-weight: 700;
					margin-top: $entre-blocos-mobile;
				}

				.subtitulo {
					font-size: 20px;
					letter-spacing: -0.045em;
					font-weight: 400;
					margin-top: 15px;
				}

				.btn-banner {
					margin-top: $entre-blocos-mobile;
					margin-bottom: $entre-blocos;

					a {
						display: block;
						font-size: 15px;
					}

				}

			}

		}

	}

}

/**
* @section Banner Após
**/

.banner-apos {
	margin-top: $entre-blocos;
	margin-bottom: $entre-blocos;

	img {
		width: 100%;
	}

}

/**
* @section Banner após mobile MD
**/

@media (max-width: $screen-md-min) {

	.banner-apos {
		margin-top: $entre-blocos-mobile;
		margin-bottom: $entre-blocos-mobile;
	}

}

/******************************************************************************/

#banner-side-by-side {
  margin-top: $entre-blocos;
  position: relative;
  margin-bottom: 60px;
  .row {
    display: flex;
    flex-flow: row;
  }
	.col-md-6 {
		padding-left: 0px;
		padding-right: 0px;
	}
	img.background {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
  .banner {
    position: relative;
    width: 100%;
    .conteudo {
      position: absolute;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px 20px;
      color: #ffffff;
      top: 0px;
      text-align: center;
    }
    &--fullscreen {
      padding-left: 0px;
      padding-right: 0px;
    }
		&--primary {
			margin-right: 10px;
		}
		&--second {
			margin-left: 10px;
		}
    .titulo {
      font-size: 50px;
      font-family: $font-family-sans-serif;
      letter-spacing: -0.05em;
      font-weight: 700;
      margin: 0px;
    }
    p {
      margin-top: 20px;
    }
    .btn-banner {
      text-transform: uppercase;
      color: #ffffff;
      background: #0072bc;
      padding: 15px 20px;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      display: inline-block;
    }
  }
}

@media (max-width: 1200px) {
  #banner-side-by-side {
    .row {
      flex-flow: column;
    }
    img {
      width: 100%;
    }
    .banner {
      .conteudo {
        img {
          width: auto;
        }
      }
			&--primary {
				margin-right: 0px;
			}
      &--second {
        margin-top: 20px;
				margin-left: 0px;
      }
    }
  }
}

@media (max-width: $screen-md-min) {
  #banner-side-by-side {
    margin-top: 0px;
    margin-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    .banner {
      .conteudo {
        img {
          width: 34%;
        }
        .titulo {
          font-size: 30px;
					text-align: center;
        }
        p {
          font-size: 16px;
          margin-top: 10px;
          font-weight: 700;
        }
        .btn-banner {
          padding: 5px 10px;
          font-size: 12px;
          font-weight: 600;
        }
      }
			&--border {
				@include padding-mobile;
			}
      &--border {
        .conteudo {
          width: calc(100% - 40px);
        }
      }
    }
  }
}
