.button {
  display: inline-flex;
  background: $color-grey-ft;
  color: #ffffff;
  padding: 14px 28px;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0px 1px 1px $color-grey-rd;
  font-weight: 600;
  line-height: 1;
  border: 0px;
  &:hover {
    background: $color-grey-rd;
    color: #ffffff;
  }
  &--blue {
    background: $color-blue-sd;
    box-shadow: 0px 1px 1px $color-blue-th;
    &:hover {
      background: $color-blue-th;
    }
  }
  &--green {
    background: $color-green-sd;
    box-shadow: 0px 1px 1px $color-green-th;
    &:hover {
      background: $color-green-th;
    }
  }
  &--black {
    background: $color-black-ft;
    box-shadow: 0px 1px 1px $color-black-rd;
    &:hover {
      background: $color-black-rd;
    }
  }
}
