.background-black-th {
  background: $color-black-th;
}
.background-black-rd {
  background: $color-black-rd;
}
.background-black-sd {
  background: $color-black-sd;
}
.background-black-ft {
  background: $color-black-ft;
}
.color-black-th {
  color: $color-black-th;
}
.color-black-rd {
  color: $color-black-rd;
}
.color-black-sd {
  color: $color-black-sd;
}
.color-black-ft {
  color: $color-black-ft;
}

.background-grey-th {
  background: $color-grey-th;
}
.background-grey-rd {
  background: $color-grey-rd;
}
.background-grey-sd {
  background: $color-grey-sd;
}
.background-grey-ft {
  background: $color-grey-ft;
}
.color-grey-th {
  color: $color-grey-th;
}
.color-grey-rd {
  color: $color-grey-rd;
}
.color-grey-sd {
  color: $color-grey-sd;
}
.color-grey-ft {
  color: $color-grey-ft;
}

.background-white-th {
  background: $color-white-th;
}
.background-white-rd {
  background: $color-white-rd;
}
.background-white-sd {
  background: $color-white-sd;
}
.background-white-ft {
  background: $color-white-ft;
}
.color-white-th {
  color: $color-white-th;
}
.color-white-rd {
  color: $color-white-rd;
}
.color-white-sd {
  color: $color-white-sd;
}
.color-white-ft {
  color: $color-white-ft;
}

.background-blue-th {
  background: $color-blue-th;
}
.background-blue-rd {
  background: $color-blue-rd;
}
.background-blue-sd {
  background: $color-blue-sd;
}
.background-blue-ft {
  background: $color-blue-ft;
}
.color-blue-th {
  color: $color-blue-th;
}
.color-blue-rd {
  color: $color-blue-rd;
}
.color-blue-sd {
  color: $color-blue-sd;
}
.color-blue-ft {
  color: $color-blue-ft;
}

.background-green-th {
  background: $color-green-th;
}
.background-green-rd {
  background: $color-green-rd;
}
.background-green-sd {
  background: $color-green-sd;
}
.background-green-ft {
  background: $color-green-ft;
}
.color-green-th {
  color: $color-green-th;
}
.color-green-rd {
  color: $color-green-rd;
}
.color-green-sd {
  color: $color-green-sd;
}
.color-green-ft {
  color: $color-green-ft;
}

.background-orange-th {
  background: $color-orange-th;
}
.background-orange-rd {
  background: $color-orange-rd;
}
.background-orange-sd {
  background: $color-orange-sd;
}
.background-orange-ft {
  background: $color-orange-ft;
}
.color-orange-th {
  color: $color-orange-th;
}
.color-orange-rd {
  color: $color-orange-rd;
}
.color-orange-sd {
  color: $color-orange-sd;
}
.color-orange-ft {
  color: $color-orange-ft;
}
