.text-field,
input[type='text'],
input[type='email'],
input[type='number'] {
  display: flex;
  border: none;
  height: 45px;
  width: 100%;
  background: $color-grey-ft;
  padding: 10px;
  margin-bottom: 5px;
  color: $color-black-ft;
}

input[type='submit'] {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
}

label {
  font-size: 14px;
  font-family: $font-family-serif;
  margin: 0px;
}
