#vantagens {
  .titulo-secundario {
		margin-top: $entre-blocos;
		h4 {
			font-size: 30px;
			letter-spacing: -0.05em;
			font-weight: 700;
			text-align: center;
			z-index: 100;
		}
	}
	.icones {
		margin-top: 32px;
		font-family: $font-family-serif;
		h5 {
			font-size: 24px;
			font-weight: 700;
			margin-top: 40px;
			color: $color-black;
		}
		p {
			font-size: 18px;
			margin-top: 19px;
			color: $color-black;
		}
	}
}

@media (max-width: $screen-md-min) {
  .titulo-secundario {
    margin-top: $entre-blocos-mobile;
    h4 {
      font-size: 25px;
      letter-spacing: -0.05em;
      text-align: left;
    }
  }
  .icones {
    h5 {
      font-size: 18px;
      text-align: left;
      height: 42px;
      margin-top: $entre-blocos-mobile;
    }
    p {
      font-size: 18px;
      text-align: left;
      line-height: 1.5;
    }
  }
}
