// Colors
$dark-green: #00606e;
$highlight-green: #9fcb54;
$shiny-green: #a1ff00;
$light-blue: #97dbd9;
$beige-yellow: #ffcc85;
$light-beige: #fff9ce;
$dark-grey: #4b4b4b;
$grey: grey;
$blank: white;


// Tipografy
//@import '../font-awesome-4.7.0/scss/_variables.scss';
$font-family: Open Sans, sans-Serif;
$font-color: $dark-green;
$height-header: 4vw;


// Responsive screens
$screen-tv-4k: 2560px;
$screen-desktop-large: 1200px;
$screen-desktop: 1024px;
$screen-tablet: 500px;
$screen-mobile: 0px;
